// styles/_faq.scss
.faq-section {
    .faq-accordion {
      max-width: 800px;
      margin: 0 auto;
      
      .accordion-button:not(.collapsed) {
        background-color: rgba(#1BA8F0, 0.1);
        color: #1BA8F0;
      }
      
      .accordion-button:focus {
        box-shadow: none;
        border-color: rgba(#1BA8F0, 0.2);
      }
    }
  }